*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #E4E3E2;
}

header{
    position: sticky;
    width: 100%;
    height: 82px;
    padding: 16px 120px;
    background-color: #DECBDB; 
    display: flex;
    align-items: center;
    justify-content: space-between;  
}

.menu{
    height: 24px;
    display: flex;
    justify-content: center;
    gap: 126px;
    align-items: center;
    
}

a:-webkit-any-link {
    color: #61646b;
    font-size: 16px;
    text-decoration: none;
}

a:-webkit-any-link:hover{
    color: #121212;
}

.profil{
    display: flex;
    align-items: center;
    gap:12px;
}

.coin{
    display: flex;
    justify-content: flex-start;
    gap: 8px;
}

main{
    position: relative;
    margin-left: 24px;
}

.score{
    display: flex;
    flex-direction: row;
    background-color: #A47D9A;
    border-radius: 16px;
    border: 1px white solid;
    height: 106px;
    width: 790px;
    margin: 0px 122px 60px 0px;
}

.scoreIteme{
   display: flex;
   align-items: center;
   width: 264px;
   gap: 8px;
   padding: 24px;
}


.scoreItem img {
    width: 56px;
    height: auto;
}

.scoreText{
    display: flex;
    flex-direction: column;
    color: #F3F3F3;
}

.numberScore{
    font-size: 24px;
}

.textScore{
    font-size: 16px;
}

#centralScoreItem{
    border-left: 1px white solid;
    border-right: 1px white solid;
}

#tapMe{
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    left: 610px;
}

.tap{
    position: relative;
    display: flex;
    align-items: center;  
    justify-content: center;

}

section{
    position: relative;
    display: flex;
    flex-direction: column;}
section:after {
    content: '';
    display: block;
    width: 100%;
    height: 32px;
    box-shadow: 0px -36px 20px #E4E3E2;
}

form{
    margin-left: 120px;
    margin-right: 122px;
    margin-top: 32px;
    display: flex;
    flex-direction: row;
}

ul{
    list-style: none;
    
}

.menuElement{
    display: flex;
    align-items: center;
    padding: 16px 24px;
    width: 384px;
    height: 108px;
    background-color: white;
    border: #AFB1B6 1px solid;
    border-radius: 10px;
    margin-bottom: 12px;

}
.menuElement:hover{
    border: #121212 1px solid;
}

.text{
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-left: 12px;
    color: #121212;
}

.memuCoin {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.ollPrice{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menuButton{
    margin-left: auto;
    margin-top: auto;
    width: 59px;
    height: 40px;
    background-color: #E0E0E0;
    color: #121212;
    border-radius: 12px; 
    font-size: 14px;
    font-weight: medium;   
}

.menuButton:hover{
    background-color: #A47D9A;
    color: white;
}

.firstText{
    font-size: 16px;
    font-weight: medium;

}

.secondText {
    font-size: 16px;
    font-weight: 400;
    color: #61646B;
}

#downButton{
    height: 40px;
    width: 40px;
    position: absolute;
    cursor: pointer;
    bottom: 24px;
    left: 180px;
}
